<!DOCTYPE HTML>
<html>
<head>
    <title>Сервис Цифровой клон</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    ––––––––––––––––––––––––––––––––––––––––––––––––––
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
-->

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ static_url('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/custom.css') }}">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ static_url('images/favicon.png') }}">
</head>
<body>
<h1 class="header" align="center">Digital Clone</h1>
<div class="container" align="center">
    <form class="form" method="POST">
        <p align="center">Login:
            <input class="text" type="text" name="login"/></p>
        <p align="center">Password:
            <input class="text" type="password" name="password"/></p>
        <p align="center"><input class="pybutton" type="submit" value="Enter"></p>
    </form>
</div>
<div>
    <form class="form" method="POST">
        
    </form>
</div>
</body>
</html>
	