<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>Digital Clone</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="generator" content="Web Page Maker (unregistered version)">
    <link rel="stylesheet" href="{{ static_url('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/custom.css') }}">
    <style type="text/css">
/*----------Text Styles----------*/
.ws6 {font-size: 8px;}
.ws7 {font-size: 9.3px;}
.ws8 {font-size: 11px;}
.ws9 {font-size: 12px;}
.ws10 {font-size: 13px;}
.ws11 {font-size: 15px;}
.ws12 {font-size: 16px;}
.ws14 {font-size: 19px;}
.ws16 {font-size: 21px;}
.ws18 {font-size: 24px;}
.ws20 {font-size: 27px;}
.ws22 {font-size: 29px;}
.ws24 {font-size: 32px;}
.ws26 {font-size: 35px;}
.ws28 {font-size: 37px;}
.ws36 {font-size: 48px;}
.ws48 {font-size: 64px;}
.ws72 {font-size: 96px;}
.wpmd {font-size: 13px;font-family: Arial,Helvetica,Sans-Serif;font-style: normal;font-weight: normal;}
/*----------Para Styles----------*/
DIV,UL,OL /* Left */
{
 margin-top: 0px;
 margin-bottom: 0px;
}

    </style>

    <script language="JavaScript1.4" type="text/javascript">
<!--
function jsPlay(soundobj) {
 var thissound= eval("document."+soundobj);
 try {
     thissound.Play();
 }
 catch (e) {
     thissound.DoPlay();
 }
}
//-->

    </script>

    <script language="javascript" type="text/javascript">
<!--
function MM_swapImgRestore() {
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() {
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) {
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() {
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

//-->images/nav250390800i.gif

    </script>

</head>
<body bgColor="#EDEEF0">
<div id="shape1"
     style="position:absolute; overflow:hidden; left:0px; right:0px; top:1px; width:100%; height:80px; z-index:0; background-color:#94AAB6"></div>


<div id="logotype" style="position:absolute; overflow:hidden; left:28px; top:11px; width:256px; height:64px; z-index:1"><a href = MainHandler.html><img src="{{ static_url('images/logo.png') }}" alt="" title="" border=0 width=256 height=64></a></div>


<div id="autorization" style="position:absolute; left:89%; top:28px; z-index:2"><a href = "/vk/auth_autha"><img src="{{ static_url('images/button_autorization.png') }}" alt="" title="" border=0 width=111px height=26px"></a></div>

<div id="homepage" style="position:absolute; left:32%; top:28px; z-index:2"><a href = "/"><img src="{{ static_url('images/button_homepage.png') }}" alt="" title="" border=0 width=140px height=26px"></a></div>

<div id="about_us" style="position:absolute; left:43%; top:28px; z-index:2"><a href = "/"><img src="{{ static_url('images/button_about_us.png') }}" alt="" title="" border=0 width=62px height=26px"></a></div>

<div id="donation" style="position:absolute; left:48%; top:28px; z-index:2"><a href = "/"><img src="{{ static_url('images/button_donat.png') }}" alt="" title="" border=0 width=66px height=26px"></a></div>

<div id="text1" style="position:absolute; overflow:hidden; left:47px; top:122px; width:345px; height:358px; z-index:3">
    <div class="wpmd">
        <div align=justify><font face="Segoe UI" class="ws14">"Цифровой клон" - программа, в основе которой лежит
            нейронная сеть. Это некое подобие пользователя, отвечающее вместо него на сообщения в различных соцсетях и
            мессенджерах. Нейронная сеть анализирует диалоги пользователя, обучается на них и на основании этих диалогов
            отвечает на сообщения вместо пользователя так, как ответил бы сам пользователь.</font></div>
    </div>
</div>

<div id="image3"
     style="position:absolute; overflow:hidden; left:789px; top:121px; width:359px; height:359px; z-index:4"><img
        src="{{ static_url('images/without.jpg') }}" alt="" title="" border=0 width=359 height=359></div>

<div id="image2"
     style="position:absolute; overflow:hidden; left:424px; top:120px; width:359px; height:364px; z-index:5"><img
        src="{{ static_url('images/withbot.jpg') }}" alt="" title="" border=0 width=359 height=359></div>


</body>
</html>
