<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Digital Clone Profile</title>
    <style>
   body {
    margin: 0; /* Убираем отступы */
   }
   .parent {
    margin: 82px 20%; /* Отступы вокруг элемента */
    background: "#EDEEF0"; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    box-shadow: 0 0 3px 1px;
   }
   .child {
    border: 0; /* Параметры рамки */
    padding: 10px; /* Поля вокруг текста */
    margin: 10px; /* Отступы вокруг */
   }
  </style>
</head>
<body bgColor="#EDEEF0">
<div id="shape1" style="position:absolute; overflow:hidden; left:0px; right:0px; top:1px; width:100%; height:80px; z-index:0; background-color:#94AAB6"></div>

<div id="image1" style="position:absolute; overflow:hidden; left:28px; top:11px; width:256px; height:64px; z-index:1"><a href = MainHandler.html><img src="{{ static_url('images/logo.png') }}" alt="" title="" border=0 width=256 height=64></a></div>



<div id="homepage" style="position:absolute; left:32%; top:28px; z-index:2"><a href = "MainHandler.html"><img src="{{ static_url('images/button_homepage.png') }}" alt="" title="" border=0 width=140px height=26px"></a></div>

<div id="about_us" style="position:absolute; left:43%; top:28px; z-index:2"><a href = "MainHandler.html"><img src="{{ static_url('images/button_about_us.png') }}" alt="" title="" border=0 width=62px height=26px"></a></div>

<div id="donation" style="position:absolute; left:48%; top:28px; z-index:2"><a href = "MainHandler.html"><img src="{{ static_url('images/button_donat.png') }}" alt="" title="" border=0 width=66px height=26px"></a></div>

<div class="parent" height="100px">
    <div class="child">
        <div class="add_bot" style= "position:absolute; left:45%"><a href = ""><img src="{{ static_url('images/button_addbot.png') }} " ></a></div>

  </div>
</div>

</body>
</html>